.head_gr{
    position: fixed;
    width: -webkit-fill-available;

}
.group_head{
    
}
.group_top{
    // background-color: aquamarine;
    height: 400px;
    img {
        height: 110%;
        width: 100%;
        // max-width: 100%;
        // max-height: 100%;
        border-radius: 20px;
    }
}
.group_name{
    margin-top: 60px;
//    padding: 55px 0;
    border-bottom: 1px solid gray;
    Button{
        margin-left: 150px;
    }
  
}

.Post{
    margin: 70px 0;

    .col-3{
        border: 1px solid;
    border-radius: 10px;
    }
    h4{
        font-size: 20px;
        font-weight: 500;
    }
}
    
   


