.bg{
    height: 424px;
    // background-color: rgba(164, 189, 177, 0.5);
    // background-color: #D9E3F0;
    border-bottom: 1px solid  black;
}
.bg_user{
    position: relative;
    // bottom: 730px;
   
}

.bt-bg{
    position: absolute;
    right: 70px;
    bottom: 120px;
} 
.bt-bg1{
    position: absolute;
    // right: 40px;
    // bottom: 15px;
    left: 1100px;
    top: 350px;
}
