.Cmmt_User{
    padding-left: 20px;
}
.Cmmt_User span{
    font-weight: 500;
}
.taskss{
    display: flex;
    margin: 10px 10px;
}
.icon_cmmt{
    display: flex;
    
}
.status_icon{
    position: fixed;
    display: flex;
    margin-left: 400px;
}
.status__icon1{
    margin-left: 50px;
}