
.status-all {
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: -200px;
    .content_status{
        margin-left: 60%;
    }
    
    .status {
        // margin-left: 55%;
        position: relative;
        background-color: #f0f2f5;
        width: 600px;
        height: 410px;

        .status-title {
            .status-tilte1 {
                display: flex;
                margin-left: 30px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .status-tilte1 a{
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 22px;
                padding: 5px 10px;
            }
        }

        h2 {
            margin-left: 15px;
            font-size: 20px;
            padding-top: 7px;
        }

        svg {
            font-size: 25px;
        }

        span {
            margin-left: 10px;
            font-size: 15px;
        }

        .status-conten {
            // text-align: center;
            // display: flex;
            // align-items: center;
            // top: 50px;
            // background-color: #f57e8e;
            // margin-top: 30px;
            // height: 100%;

            text-align: center;
            display: flex;
            align-items: center;
            top: 50px;
            background-color: #fff;
            margin-top: 30px;
            height: 250px;
            

            h2 {
                font-size: 20px;
            }

        }

        .status--icon {
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            background-color: #f0f2f5;
            border-bottom:1px solid #DDE4E8;
            border-top: 1px solid #DDE4E8;

            .status--icon1 {
                text-align: center;
                background-color: #f0f2f5;
                width: 117px;
                cursor: pointer;
            }

            .status--icon1:hover {
                background-color: #DDE4E8;
                border-radius: 5px;
            }
        }
    }

}
// .pic_canhan{
//     background-color: aqua;
//     width: 300px;
//     height: 300px;
// }
.ip_cmmt{
    margin: 10px 15px;
}
.ip_cmmt input{
    width: 495px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    background-color: #dddddd;

}