.table_CN{
    // border: 1px solid;
    margin-left: 20px;
    width: 700px;
    background-color: #BCC8CE;
    border-radius: 10px;
}

.CN_name{
    border-bottom: 1px solid ;
    padding-left: 20px;
}
.CN_DoB{
    padding-left: 20px;
}